.about-us {
  max-width: 1920px;
  margin-inline: auto;
  display: grid;
  row-gap: 110px;



  @include onTablet {
    display: grid;
    row-gap: 140px;
  }

  &__container {
    display: grid;
    row-gap: 140px;
  }

  &__block {
    @include consentPaddingInline;
    @include pageGrid;

    grid-template-columns: 1fr;

    @include onTablet {
      grid-template-columns: 2fr 2fr;
      padding-inline-start: 0;
    }

    @include onDesktop {
      padding-inline: 0;
    }

    &--reverse {
      @include consentPaddingInline;

      @include onTablet {
        padding-inline-end: 0;
      }

      @include onDesktop {
        padding-inline: 0;
      }
    }
  }

  &__block--reverse &__info-block {
    order: -1;
  }


  &__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    text-transform: uppercase;
    margin: 0;

    @include onTablet {
      font-size: 36px;
    }

    @include onDesktop {
      font-size: 56px;
    }
  }

  &__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 30vh;

    &-block {
      &--1 {
        display: none;
        background-image: url("../../images/about-us1_desktop.png");

        @include onTablet {
          display: block;
          background-size: cover;
          background-position: 30%;
          min-height: 100%;
        }
      }

      &--2 {
        display: none;
        background-image: url("../../images/about-us2_desktop.png");

        @include onTablet {
          display: block;
          background-size: cover;
          min-height: 100%;
        }
      }
    }

    &-first {
      background-image: url("../../images/about-us1_desktop.png");

      @include onTablet {
        display: none;
      }
    }

    &-second {
      background-image: url("../../images/about-us2_desktop.png");

      @include onTablet {
        display: none;
      }
    }
  }

  &__description-block {
    margin-top: 20px;

    @include onTablet {
      margin-top: 30px;
    }
  }

  &__description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #7c7c7c;

    @include onTablet {
      font-size: 16px;
    }
  }

  &__btn-block {
    margin-top: 30px;

    @include onTablet {
      margin-top: 60px;
    }
  }

  &__btn {
    position: relative;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 117%;
    text-transform: uppercase;
    color: #0db2b3;
  }

  &__btn:after {
    content: "";
    position: absolute;
    border: 1px solid #0db2b3;
    bottom: -6px;
    left: 0;
    width: 54px;
    transition: 0.9s;
  }

  &__btn:hover:after {
    width: 100%;
  }
}