.features {

  @include onTablet {
    padding-inline: 20px;
  }

  &__title {
    padding-block-end: 40px;
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 134%;
    text-transform: uppercase;
    color: #333;

    @include onDesktop {
      font-size: 56px;
      text-align: center;
    }
  }

  &__container {
    background-color: #cfeff0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__card-group {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
    align-self: flex-start;

    @include onDesktop {
      align-self: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 52px;
    }
  }

  &__card {
    margin-top: 32px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onTablet {
      padding-inline-start: 50px;
    }

    &-group {
      min-height: 310px;
    }

    &-main {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: start;

      @include onDesktop {
        min-width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      &-1 {
        @include onDesktop {
          order: 2;
          padding-block-end: 60px;
        }
      }

      &-2 {
        @include onDesktop {
          order: -1;
          padding-block-start: 60px;
        }
      }

      &-3 {
        @include onDesktop {
          order: 1;
          padding-block-start: 60px;
        }
      }

      &-4 {
        display: none;
        max-height: 550px;

        @include onDesktop {
          display: block;
          order: 2;
        }

        &--1 {
          @include onDesktop {
            order: 4;
            min-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
          }
        }
      }
    }

    &-top {
      display: flex;
    }
  }

  &__card-title {
    padding-inline-start: 32px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 123%;
    color: #0c797a;
    text-transform: uppercase;

    @include onTablet {
      font-size: 24px;
    }

    @include onDesktop {
      margin: 0;
      font-size: 34px;
    }
  }

  &__card-list {
    display: grid;
    row-gap: 10px;
    width: 100%;
  }

  &__card-item {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #333;

    @include onTablet {
      font-size: 18px;
    }

    @include onDesktop {
      font-size: 20px;
    }
  }


  &__bottom-block {
    height: 100%;
    width: 100%;

    @include onDesktop {
      display: none;
    }
  }

  &__card-img {
    max-height: 600px;
    height: 302px;
    background-image: url("../../images/desktop__features.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    @include onTablet {
      background-position: 70%;
      height: 350px;
    }
  }

  &-slider__panel {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;

    @include onTablet {
      padding-block-start: 30px;
      align-self: flex-start;
      padding-inline-start: 32px;
    }

    @include onDesktop {
      display: none;
    }
  }

  &-slider__navigation {
    &-btn {
      background: none;
      border: none;
      cursor: pointer;
    }

    @include onDesktop {
      display: none;
    }
  }

  &-slider__pagination {
    padding-block-start: 15px;

    @include onDesktop {
      display: none;
    }
  }
}