.icon {
  display: block;

  &__menu-open {
    height: 32px;
    width: 32px;

    @include onDesktop {
      display: none;
    }
  }

  &__menu-close {
    height: 24px;
    width: 24px;
  }

  &__arrowR {
    cursor: pointer;
  }
}

.benefits__icon {
  width: 50px;
  height: 40px;
}


.footer__top-logo {
  background-image: url("../images/icon/footer-logo__img.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  height: 10vh;
}

.footer__top-up {
  // background-image: url("./images/icon/arrow-up__img.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
