.presentation {
  &__block {
    height: 30vh;
    width: 100%;

    @include onTablet {
      height: 50vh;
    }

    @include onDesktop {
      height: 80vh;
    }

    &-image {
      background-image: url("/images/presentation__img.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 110%;
      height: 100%;
    }
  }
}